@model IEnumerable<League>

<h3>Leagues</h3>

@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}


@foreach (var obj in Model) 
{
    <ul>
        <li>Id: @obj.Id</li>
        <li>Name: @obj.Name</li>
        <li>Country: @obj.Country</li>
        <li>Level: @obj.Level</li>
        <a asp-controller="league" asp-action="delete" asp-route-id="@obj.Id">Delete</a>
        <a asp-controller="league" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
    </ul>
    <hr />
}
<a asp-controller="league" asp-action="add">Add new leagues</a>